@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/*html{
    scroll-behavior: smooth;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 700px;
  color: #fff;
  text-align: center;
  background: url("https://media.nationalgeographic.org/assets/photos/000/204/20429.jpg") no-repeat center center;
  background-size: cover;
}
.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}

.tellButton{
    text-decoration: none;
    background-color: #3A2922;
    color: #ffffff;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    /*opacity: .6;*/
    transition: .2s;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: fade-in 0.75s 0.25s ease-in forwards;
          animation: fade-in 0.75s 0.25s ease-in forwards;
}
.inner h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1.2em;
}

.inner h2 {
  margin: 10px;
  font-size: 4em;
  line-height: 1.2em;
}

.inner p {
  margin: 0;
  font-size: 1.4em;
  font-style: italic;
  font-family: serif;
}



nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}
nav ul {
  float: right;
  list-style: none;
  padding: 25px;
  margin: 0;
}
nav li {
  float: left;
}
nav a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 20px;
  display: block;
}
nav a:hover {
  color: #ededed;
}

/*
.logo {
  height: 75px;
  float: left;
}
.logo:before, .logo:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: #fff;
  top: 25px;
}
.logo:before {
  content: '\00BB';
  left: 20px;
}
.logo:after {
  content: '\00AB';
  left: 34px;
}
*/


.outer h2 {
  padding-left: 290px;
  text-align:left;
  padding-top: 20px;
  margin: 10px;
  font-size: 2em;
  line-height: 1.2em;
}

.outer p{
  text-align: justify;
  text-justify: inter-word;
  padding-left: 290px;
  padding-right:290px;
  margin: 10px;
  font-size: 1.2em;
  line-height: 1.5em;
}

.grid-container {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 1000px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

/*
      _
    >(.)__
     (___/
*/