<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="author" content="Roberto Cruz Estrella">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data from a variety of sensors">

    <!-- Title -->
    <title>Pollution Detection System</title>

    <!-- Styles and Fonts -->
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"> -->
    <link rel="stylesheet" href="static/styles/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>


<body>
<script type="text/javascript" src="static/js/scripts.js"></script>
<div class="svg-container">
    <!-- I crated SVG with: https://codepen.io/anthonydugois/pen/mewdyZ -->
    <svg viewbox="0 0 800 400" class="svg">
      <path id="curve" fill="#50c6d8" d="M 800 300 Q 400 350 0 300 L 0 0 L 800 0 L 800 300 Z">
      </path>
    </svg>
  </div>

  <header>
    <h1>Pollution Box Sensor Visualization</h1>
    <h3>Real Time Pollution Readings</h3>
  </header>

  <main>
    <p>fill this in with info</p>
  </main>

  <footer>
    <p>Thee footer</p>
    <small>By, <a href="robcruz088.github.com">Rob-Sensei</a>.</small>
  </footer>


</body>







</html>




